body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

h1, h2 {
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin: 10px 0;
    text-align: center;
}

nav {
    background-color: #007bff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container h1,
.container p {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

tr:nth-child(even) {
    background-color: #fff;
    color: #000;
}

tr:nth-child(odd) {
    background-color: aliceblue;
    color: black;
}
