body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin: 10px 0;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

.logo {
    max-width: 50%;
    height: 10cm;
    margin: 20px auto;
    display: block;
}

h1, h2 {
    background-color:#fff;
    color:black;
    padding: 10px;
}

/* Stijl voor de navbar */
nav {
    background-color: #007bff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Aanvullende stijlen voor h1 en p binnen .container */
.container h1,
.container p {
    text-align: center;
}
